.ui-title {
  margin: 0;
}

.ui-title-bold {
  font-weight: bold;
}

.ui-title-1 {
  font-size: 2.25rem;
  margin-bottom: 0.625rem;
}

.ui-title-2 {
  font-size: 1.875rem;
  margin-bottom: 0.5rem;
}

.ui-title-3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.ui-title-4 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
