.home-container {
  background: linear-gradient(to right, #f5f5dc, #f5deb3); /* Tan gradient */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.home-content {
  z-index: 3;
  max-width: 1200px;
  position: absolute;
  padding: 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content h1 {
  color: #3B3B3B;
  font-size: 48px;
  text-align: center;
}

.home-content p {
  margin-top: 24px;
  color: #3B3B3B;
  font-size: 24px;
  text-align: center;
  max-width: 600px;
}