.navbar {
  background: transparent;
  height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: fixed;
  top: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  transition: background-color 0.3s ease-in;
  border-radius: 1.5625rem;
}

.navbar.active {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(0.3125rem);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: center;
  height: 3.125rem;
  z-index: 1;
  width: auto;
  padding: 0;
  max-width: none;
  align-items: center;
}

.nav-menu {
  padding-top: 0;
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  position: relative;
  padding: 0.625rem 1.25rem;
}

.nav-item {
  position: relative;
}

.nav-links {
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.3125rem 1rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.9rem;
}

.nav-links.active {
    color: #fff;
  }

.nav-links:hover {
  opacity: 0.8;
  cursor:pointer;
}

.nav-indicator {
  position: absolute;
  background-color: #2294fb;
  border-radius: 3.125rem;
  transition: all 0.3s ease-in-out;
  z-index: -1;
  box-sizing: border-box;
}
