.navbar {
  background: transparent;
  height: 60px; /* Reduced height */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem; /* Reduced font size */
  position: sticky;
  top: 0;
  z-index: 999;
  transition: background-color 0.3s ease-in;
}

.navbar.active {
  background: #87CEEB; /* SkyBlue background on scroll */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  z-index: 1;
  width: 100%;
  padding: 0 24px;
  max-width: 1100px;
}

.navbar-logo {
  color: #3B3B3B;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem; /* Reduced font size */
  display: flex;
  align-items: center;
  margin-left: 24px;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-right: -22px;
}

.nav-item {
  height: 60px;
}

.nav-links {
  color: #3B3B3B;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  font-weight: bold;
}

.nav-links:hover {
  color: #191970; /* MidnightBlue */
}