#ac-globalfooter {
  --footer-background: rgb(245, 245, 247);
  --footer-border-color: rgba(0, 0, 0, 0.16);
  --footer-text-color: rgba(0, 0, 0, 0.56);
  --footer-link-color: rgba(0, 0, 0, 0.72);
  --footer-pipe-color: rgba(0, 0, 0, 0.48);
  --footer-directory-title-color: rgba(0, 0, 0, 0.88);
  --footer-directory-title-color-hover: #000;
  --footer-directory-title-focus-offset: 4px;
  --footer-section-border-color: var(--footer-border-color);
  --footer-pipe-border: 1px solid var(--footer-pipe-color);
  font-size: 12px;
  line-height: 1.3333733333;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: var(--footer-background);
  color: var(--footer-text-color);
  min-width: 1024px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid var(--footer-border-color);
}

.footer {
  width: 100%;
}

.footer-inner {
  max-width: 980px;
  margin: 0 auto;
  padding: 1.5rem 1.25rem 2.5rem;
  box-sizing: border-box;
}

.footer-text {
  margin: 0;
  white-space: pre-wrap;
}

@media (max-width: 1024px) {
  #ac-globalfooter {
    min-width: 0;
  }

  .footer-inner {
    max-width: 100%;
  }
}